<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coupangeats">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.softsquared.template.kotlin.config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="쿠팡이츠"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:debuggable="false"
        tools:replace="android:label"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".src.findId.FindIdActivity"></activity>
        <activity android:name=".src.searchDetail.SearchDetailActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".src.eventItem.EventItemActivity" />
        <activity android:name=".src.event.EventActivity" />
        <activity android:name=".src.myReview.MyReviewActivity" />
        <activity android:name=".src.SuperInfo.SuperInfoActivity" />
        <activity
            android:name=".src.deliveryStatus.DeliveryStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".src.reviewWrite.ReviewWriteActivity" />
        <activity
            android:name=".src.review.ReviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".src.discount.DiscountActivity" />
        <activity
            android:name=".src.categorySuper.CategorySuperActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".src.detailSuper.DetailSuperActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".src.map.MapActivity" />
        <activity android:name=".src.cart.CartActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".src.menuSelect.MenuSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".src.superSearch.SuperSearchActivity" />
        <activity android:name=".src.setting.SettingActivity" />
        <activity android:name=".src.deliveryAddressSetting.DeliveryAddressSettingActivity" />
        <activity android:name=".src.signUp.SignUpActivity" />
        <activity
            android:name=".src.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".src.main.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".src.favorites.FavoritesActivity" />
        <activity
            android:name=".src.splash.SplashActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao{acf919d14f1072fd5b7524916b93db20}" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="2w3o4zjo8d" />
    </application>

</manifest>